body, h1, p, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  Arial, sans-serif;
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
    border-bottom: 1 solid #dbdbdb;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
 }

 .logo {
    height: 30px;
 }

 .search-bar{
    border: 1px solid #dbdbdb;
    border-radius:  4px;
    padding: 5px;
    width: 200px;
    font-size: 14px;
 }

 .nav-icons {
    display: flex;
    gap: 15px
 }

 .icon{
    height:24px;
 }

 main {
    margin-top: 60px;
    max-width: 1000px;
    margin: 0 auto;
 }

 .feed {
    background-color: #ffffff;
 }

 .post{
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    background-color: #ffffff;
 }

 .post-header {
    display: flex;
    align-items:  center;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
 }

 .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
 }

 .username{
    font-weight: bold;
    color: #262626
 }

 .post-image{
    width: 100%;
    height: auto;
 }

 .post-actions{
    display: flex;
    padding: 10px
 }

 .action-icon{
    width: 24px;
    margin-right: 10px;
    cursor:  pointer;
 }

 .post-details{
    padding: 10px;
 }

 .likes{
    font-weight: bold;
    color: #262626;
    display: block;
    margin-bottom: 5px;
 }

 .caption{
    color: #262626
 }

 .caption strong {
    margin: 5px;
 }
